.root{
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#AboutPic{
    -fx-background-image: url("/pictures/boutUs.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-opacity: 0.4;
}


#AlgoPic{
    -fx-background-image: url("/pictures/algo.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-opacity: 0.3;
}



