.root{
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#AboutPic{
    -fx-background-image: url("/pictures/boutUs.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#aboutImage{
    -fx-opacity:0.7;

}

#AlgoPic{
    -fx-background-image: url("/pictures/algo.png");
    -fx-background-size: cover;
    -fx-background-position: center center;

}



