.root{

    -fx-background-size: stretch;
}
#AboutPic{
    -fx-background-image: url("/pictures/boutUs.jpeg");
    -fx-background-size: stretch;

}
#aboutImage{
    -fx-opacity:0.2;

}

#AlgoPic{
    -fx-background-image: url("/pictures/algo.png");
    -fx-background-size: stretch;


}



