.root{
    -fx-background-image: url("/pictures/mainScreen.jpg");
        -fx-background-size: stretch;
    -fx-background-position: center center;

}


#startButton:hover {
    -fx-font-size: 150%;
}


#helpShell{
    -fx-image: url("/pictures/garyyMain.png");
}
#propShell{
    -fx-image: url("/pictures/garyyMain.png");
}
#aboutShell{
    -fx-image: url("/pictures/garyyMain.png");
}


#musicButton{
    -fx-image: url("/pictures/musicButton1.png");
}
#exitButton{
    -fx-image: url("/pictures/exitbutton.png");
}

#start{
    -fx-image: url("/pictures/start111.png");

}