.root{
    -fx-background-size: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;

}

#rightSide{
    -fx-background-image: url("/pictures/maze3.jpg" );
    -fx-background-size: stretch;

    -fx-background-position: center center;
}

#leftSide{
    -fx-background-image: url("/pictures/together.jpg" );
    -fx-background-size: stretch;

    -fx-background-position: center center;
}

#MazeDisplayer{


}

#jellyImage{
    -fx-opacity: 0.4;

}