.root{
    -fx-background-image: url("/pictures/mainScreen.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;

}

#NewGameButton, #ExitButton {

    -fx-background-color: Transparent;
    -fx-background-repeat:no-repeat;
    -fx-cursor:pointer;
    -fx-overflow: hidden;
    -fx-outline:none;

    -fx-background-position: center center;
    -fx-border: black;
    -fx-width: 12px;
    -fx-height: 12px;
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-cursor: pointer;
}


#MenuBar {
    -fx-background-color: Transparent;
    -fx-background-repeat:no-repeat;
    -fx-cursor:pointer;
    -fx-overflow: hidden;
    -fx-outline:none;
    -fx-background-position: center center;
    -fx-border: black;
    -fx-text-fill: black;
    -fx-font-family: "David";
    -fx-font-weight: bold;

    -fx-cursor: pointer;
}
#NewButton, #SaveButton, #LoadButton{
    -fx-background-color: Transparent;
    -fx-background-repeat:no-repeat;
    -fx-cursor:pointer;
    -fx-overflow: hidden;
    -fx-outline:none;
    -fx-text-fill: black;
    -fx-font-family: "David";
}
#NewButton, #SaveButton, #LoadButton :hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#HelpButton{

}

#AboutButton{
}

#MusicButton{
}